[submodule "c/karp-rabin/klib"]
	path = c/karp-rabin/klib
	url = https://github.com/attractivechaos/klib.git
[submodule "c/karp-rabin/miller-rabin"]
	path = c/karp-rabin/miller-rabin
	url = https://github.com/wizykowski/miller-rabin.git
