# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Note
note/
/sa-matching/sais-lite-2.4.1/suftest
/sa-matching/cmdline.c
/sa-matching/cmdline.h
/sa-matching/sa-matching
/sa-construction/dc
/longest-substring/cmdline.c
/longest-substring/cmdline.h
/longest-substring/substring
*.aux
*.latexmk
*.fls
*.log
*.nav
*.pdf
*.snm
*.toc
*.vrb
*_latexmk
/vc.tex
/auto/header-video.el
/02-karp-rabin-video.synctex.gz
*.synctex.gz
/*.rel
